
# ==========================
# .NET
# ==========================
**/bin/
**/obj/
appsetting.json

# ==========================
# Python
# ==========================
**/__pycache__/
*.py[cod]
*.pyo
.env
.env.*


# Permitir el ejemplo
!.env.example

# ==========================
# Node / Angular
# ==========================
node_modules/
.angular/
dist/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Uploads
# ==========================
uploads/

# ==========================
# ChromaDB
# ==========================
chroma_db/
*.sqlite3

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Visual Studio
# ==========================
.vs/
*.user
*.suo

